@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

span,
p,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

p {
  color: #3c3c3c;
}

#tasks {
  box-shadow: 0px 0px 8px 0px rgba(82, 82, 82, 0.15);
}

input[type="checkbox"] {
  visibility: hidden;
}

#add-button {
  position: fixed;
  bottom: 0;
  right: 8.33%;
}

@media only screen and (max-width: 767px) {
  /* Phone */
  #add-button {
    right: 4.167%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  /* iPad */
  #add-button {
    right: 12.5%;
  }
}

@media only screen and (min-width: 1280px) {
  /* Laptop */
  #add-button {
    right: 25%;
  }
}
